<div class="container">
    <h1 class="h1 text-muted my-2">Cart</h1>
    
    <hr>

    
    <ul class="list-group">
        <a class="list-group-item list-group-item-action bg-primary text-white" routerLink="/shipping">Shipping Prices</a>
        
        <li *ngFor="let item of items" class="list-group-item">
            <a [routerLink]="['/anime-list', item.id]" [title]="item.title + ' Details'">{{ item.title }}</a>    
        </li>
    </ul>

    
    <hr>

    <form [formGroup]="checkoutForm" class="my-3" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" formControlName="address">
        </div>

        <button type="submit" class="btn btn-success">
            Checkout
            <i class="fas fa-money-check"></i>
        </button>
    </form>

</div>